// Fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');
$Roboto: 'Roboto Condensed', sans-serif;
$Pacifico: 'Pacifico', cursive;

// Color Variables
$primary-color: #428bca;
$secondary-color: lighten($primary-color, 30%);
$light-gray: #9e9e9e;
$error-color: #ff2d2c;

// Functionality Variables
$progress-height: 10px;
